<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>731902900265-ljf1pf1tnq0lkq26uku1q6i7171f03vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731902900265-ljf1pf1tnq0lkq26uku1q6i7171f03vj</string>
	<key>API_KEY</key>
	<string>AIzaSyDROHPyKvY4Y6SHi5C4VL5DKe5HycC-Szo</string>
	<key>GCM_SENDER_ID</key>
	<string>731902900265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dating.vn</string>
	<key>PROJECT_ID</key>
	<string>dating-vnp-196702</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-vnp-196702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731902900265:ios:b809993ce331c9ea</string>
	<key>DATABASE_URL</key>
	<string>https://dating-vnp-196702.firebaseio.com</string>
</dict>
</plist>